<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pyrofalcons</title>
    <link rel="icon" href="./static/css/assets/icons/logoo.png">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <input type ="checkbox" name ="" id ="chk1">
      <div class="logo"><h1>PYROFALCONS</h1></div>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/analytics">Analytics</a></li>
              <li><a href="/video_feed">Live stream</a></li>
              <li><a href="/analytics">Recordings</a></li>
              <li><a href="/signin"><i class="fa fa-user" style="font-size:24px"></i></a></li>
          </ul>
          <div class="menu">
              <label for="chk1">
                  <i class="fa fa-bars"></i>
              </label>
          </div>
  </header>
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" name="user" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="pass" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit"  value = "signup"><a herf = "/home" />
        <div class="signup_link">
          Not a member? <a href="/signup">Signup</a>
        </div>
      </form>
    </div>

  </body>
</html>
